.dropdown li{
    position: relative;
    list-style: none;
}
.submenu{
    display: none;
    position: absolute;
    background: #cb3f5d;
}
.dropdown li:hover .submenu{
    display:list-item;
}
.mainmenu{
    padding: 20px;
}