#friuts{
    list-style-type:none;
    padding: 0;
    margin-top: 10px;
}
 li{
    display: flex;
    padding: 10px;
    border: 10px solid #ccc;
    background-color: aliceblue;
    align-items: center;
    cursor:pointer;
   

}
li hover{
    background-color: #dd2424;
    border: 1px solid #ccc;
    color:white;
    

}
#container{
    width: 80%;
    margin: 0px;
    border: 0px solid #757474;

}