.container {
  display: flex;
}
.sidebar {
  flex: 1;
  background: #2c3e50;
}
.main-content {
  flex: 3;
  background: #ecf0f1;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .sidebar{
    background: #d31e3c;
  }
}
